<span class="header">Change User Role</span>
<form class="example-form" [formGroup]="getUserForm" (ngSubmit)="onSubmit(getUserForm)">

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" required>
    </mat-form-field>

    <div class="example-actions">
        <button mat-flat-button color="primary" type="submit" [disabled]="getUserForm.invalid">Submit</button>
        <button mat-button color="primary" mat-dialog-close>Close</button>
    </div>
</form>

<mat-card *ngIf="loadedUser!=null && !loading && outcomeMessage == null && errorMessage == null">
    <mat-card-title>{{loadedUser.email}}</mat-card-title>
    <mat-card-content>
        <form class="example-form" [formGroup]="changeUserRoleForm" (ngSubmit)="onSubmitUpdate(changeUserRoleForm)">

            <mat-form-field class="example-full-width">
                <mat-label>Role</mat-label>
                <mat-select [(ngModel)]="loadedUser.role" formControlName="role" required>
                    <mat-option *ngFor="let role of roles" [value]="role">
                        {{role}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <div class="example-actions">
                <button mat-flat-button color="primary" type="submit" >Update</button>
            </div>
        </form>

    </mat-card-content>
</mat-card>

<div *ngIf="errorMessage!=null" class="error-message">
    Error: {{ errorMessage }}
</div>

<div *ngIf="outcomeMessage!=null">
    {{ outcomeMessage }}
</div>

<div class="spinner-wrapper" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>