<div class="main-container" *ngIf="playlistService.isPlaylistOverview">
    <div *ngIf="!loading">
        <span class="header"> My playlists </span>

        <mat-grid-list cols="5">
            <mat-grid-tile *ngFor="let playlist of userService.loggedUser.playlists"
                (click)="openPlaylistDetail(playlist)">
                <mat-card class="playlist-card">
                    <mat-card-title>
                        {{playlist.name}}
                    </mat-card-title>
                    <mat-card-content>
                        <span *ngFor="let song of playlist.songs">{{ song.track_name }} -
                            {{ song.artist_name }}<br></span>
                    </mat-card-content>
                    <mat-card-actions style="float:right">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">play_arrow</mat-icon>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <span class="sub-header" *ngIf="userService.loggedUser.playlists == null || userService.loggedUser.playlists[0] == null"> You don't have any playlists, yet.
            Create one with the button on the right! </span>
        <span class="header" *ngIf="topArtist!=null"> Your most listened to artist is: {{ topArtist }} </span>
        <div class="fab-container">
            <button mat-fab color="primary" (click)="openAddPlaylistDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="spinner-wrapper" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>
    <div class="main-container" *ngIf="!playlistService.isPlaylistOverview">
        <app-playlist-detail [playlistName]="playlistService.selectedPlaylistName"></app-playlist-detail>
    </div>