<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [(opened)]="opened" class="nav-drawer">
        <mat-list role="list">
            <mat-list-item role="listitem" (click)="setActiveTab(1)">Dashboard</mat-list-item>
            <mat-list-item role="listitem" (click)="setActiveTab(2)">My Account</mat-list-item>
            <mat-list-item role="listitem" (click)="setActiveTab(3)">Browse</mat-list-item>
            <mat-list-item role="listitem" (click)="setActiveTab(4)">My Playlists</mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar>
            <p><button mat-button (click)="toggleDrawer()"><i class="material-icons">dehaze</i></button></p>
            Playlister
        </mat-toolbar>
        <!-- <app-playlists-overview></app-playlists-overview> -->
        <div *ngIf="activeTab==2" ><app-account-overview></app-account-overview></div>
        <div *ngIf="activeTab==4" ><app-playlists-overview></app-playlists-overview></div>
    </mat-drawer-content>
    <button mat-fab></button>
</mat-drawer-container>