<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [(opened)]="opened" class="nav-drawer">
        <mat-list role="list" *ngIf="this.userService.loggedUser.role==='USER'">
            <mat-list-item role="listitem" (click)="setActiveTab(1)">My Account</mat-list-item>
            <mat-list-item role="listitem" (click)="setActiveTab(2)">Browse</mat-list-item>
            <mat-list-item role="listitem" (click)="setActiveTab(3)">My Playlists</mat-list-item>
        </mat-list>
        <mat-list role="list" *ngIf="this.userService.loggedUser.role==='ADMIN'">
            <mat-list-item role="listitem" (click)="setActiveTab(1)">My Account</mat-list-item>
            <mat-list-item role="listitem" (click)="setActiveTab(2)">Browse</mat-list-item>
            <mat-list-item role="listitem" (click)="setActiveTab(3)">My Playlists</mat-list-item>
            <mat-list-item role="listitem" (click)="setActiveTab(4)">Analytics</mat-list-item>
            <mat-list-item role="listitem" (click)="setActiveTab(5)">Admin Console</mat-list-item>
        </mat-list>
        <mat-list role="list" *ngIf="this.userService.loggedUser.role==='SUPERUSER'">
            <mat-list-item role="listitem" (click)="setActiveTab(1)">My Account</mat-list-item>
            <mat-list-item role="listitem" (click)="setActiveTab(4)">Analytics</mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar>
            <p><button mat-button (click)="toggleDrawer()"><i class="material-icons">dehaze</i></button></p>
            Playlister
        </mat-toolbar>
        <div *ngIf="activeTab==1">
            <app-account-overview></app-account-overview>
        </div>
        <div *ngIf="activeTab==3">
            <app-playlists-overview></app-playlists-overview>
        </div>
        <div *ngIf="activeTab==2">
            <app-browse-overview></app-browse-overview>
        </div>
        <div *ngIf="activeTab==5">
            <app-admin-dashboard></app-admin-dashboard>
        </div>
    </mat-drawer-content>
    <button mat-fab></button>
</mat-drawer-container>