/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
    height: 100%;
    background-color: #EEEEEE;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/*Text*/

.header {
    font-size: 30px;
}


/*container*/

.main-container {
    padding: 3%;
}


/*Cards*/

.playlist-card {
    width: 80%;
}


/*Drawer*/

.nav-drawer {
    width: 20%;
}