/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
    height: 100%;
    background-color: #EEEEEE;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/*Text*/

.header {
    font-size: 30px;
}

.sub-header {
    font-size: 16px;
}



/*container*/

.main-container {
    padding: 3%;
}

.fab-container{
    float: right;

}


/*Cards*/

.playlist-card {
    width: 80%;
}


/*Drawer*/

.nav-drawer {
    width: 20%;
}

/* Forms */
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-card {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.example-actions {
    text-align: right;
}

/*Tables*/
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }