<mat-card class="example-card" *ngIf="!loading">
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
        <span *ngIf="registerError" style="color:brown">Error: email already in use!</span>
    <br>

        <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="E-mail" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" type="password" formControlName="password" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Confirm Password" type="password" formControlName="passwordConfirm" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker" placeholder="Birthday" formControlName="birthday" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" required>
                    <mat-option *ngFor="let gender of genders" [value]="gender.displayedValue">
                        {{gender.displayedValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Country</mat-label>
                <mat-select formControlName="region" required>
                    <mat-option *ngFor="let country of countries.regions" [value]="country.viewValue">
                        {{country.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="example-actions">
                <button mat-flat-button color="primary" type="submit">Register</button>
                <button mat-button color="primary" (click)="loadLogin();">Log in</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<div class="spinner-wrapper" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
