<div class="header">Change Password</div>

<br><br>

<form class="example-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)" *ngIf="!changed">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="New Password" type="password" formControlName="newPassword" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Confirm new Password" type="password" formControlName="passwordConfirm" required>
    </mat-form-field>
    <div class="example-actions">
        <button mat-flat-button color="primary" type="submit" >Submit</button>
        <button mat-button color="primary" mat-dialog-close>Close</button>
    </div>
</form>

<div *ngIf="changed">
    Account updated successfully
    <div class="example-actions">
        <button mat-button color="primary" mat-dialog-close>Close</button>
    </div>
</div>